.task1 {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.task1:hover {
  transform: rotate(270deg);
}

.task2 {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.task2:hover {
  transform: rotateX(135deg);
}

.task3 {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.task3:hover {
  transform: rotateY(45deg);
}

.task4 {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.task4:hover {
  transform: scale(1.3);
}

.task5 {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.task5:hover {
  transform: scale(1.5, 1);
}

.task6 {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.task6:hover {
  transform: scaleY(0.5);
}

.task7 {
}

.task7:hover {
}

.task8 {
}

.task8:hover {
}

.task9 {
}

.task9:hover {
}

.task10 {
}

.task10:hover {
}

.task11 {
}

.task11:hover {
}

.task12 {
}

.task12:hover {
}

.task13 {
}

.task13:hover {
}

.task14 {
}

.task14:hover {
}

.task15 {
}

.task15:hover {
}

.task16 {
}

.task16:hover {
}
